<h3>Game Title Search</h3>
<div class="grid">
    <form #f="ngForm" (ngSubmit)="onSubmitIdSearch()" class="ui form">
        <label>Title</label>
        <input type="text" [(ngModel)]="idSearch.value">
        <button type="submit" class="ui button" [disabled]=searching>Search</button> <span *ngIf=searching>Searching...</span><br>
        <label>Include Expansions</label>
        <input value="Expansion" type="checkbox" [(ngModel)]="idSearch.expansion">
    </form>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th data-sortable="true">ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Image URL</th>
                    <th>Ages</th>
                    <th>Players</th>
                    <th>Play Time</th>
                    <th>Year</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#game of games; #i = index">
                    <td>
                        {{game.id}}
                    </td>
                    <td>
                        {{game.name}}
                    </td>
                    <td>
                        <img src={{game.image}} width="50">
                    </td>
                    <td>
                        {{game.image}}
                    </td>
                    <td>
                        {{game.ages}}
                    </td>
                    <td>
                        {{game.players}}
                    </td>
                    <td>
                        {{game.playTime}}
                    </td>
                    <td>
                        {{game.yearPublished}}
                    </td>
                    <td>
                        {{game.description}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
